<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container my-3">
        <nav class="navbar bg-body-tertiary " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <form class="d-flex" role="search" th:action="@{/todo/search/{query}(query=${query})}" method="get">
                    <input id=query name=query class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="wrap">
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th> 제목 </th>
                <th> 시작 날짜 </th>
                <th> 마감 날짜</th>
                <th> 관리</th>
            </tr>
            </thead>
            <tr th:each="item : ${list}">
                <td th:text="${item.subject}"></td>
                <td th:text="${#temporals.format(item.createTime,'yyyy-MM-dd HH:mm')}">
                </td>
                <td th:text="${#temporals.format(item.deadLine,'yyyy-MM-dd HH:mm')} "
                    th:style="${item.deadLine.isBefore(#temporals.createNow().plusDays(1))} ? 'background-color:rgb(255, 200, 200)' : ''"
                >
                </td>
                <td style="display: flex">
                    <form style="margin-right: 3%" th:action="@{|/todo/modify/${item.id}|}" method="get">
                        <input type="submit" value="수정">
                    </form>
                    <form th:action="@{|/todo/delete/${item.id}|}" method="post">
                        <input type="submit" value="삭제">
                    </form>

                </td>
            </tr>
        </table>
        </div>
        <form th:action="@{/todo/create}" method="get" >
            <button type="submit" class="btn btn-primary">등록하기</button>
        </form>
    </div>
</body>
</html>
