<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/todo/create}" method="post">
    <div style="display:flex">
        <label for="subject">제목</label>
            <input type="text" style="width: 30%;margin-right: 3%" id="subject" name="subject">
        <label for="deadLine">마감일</label>
        <input type="date" style="width: 30%" id="deadLine" name="deadLine">
    </div>
    <div class="row mb-3">
        <label for="content" class="col-sm-2 col-form-label">내용</label>
            <textarea name="content" cols="50" rows="10" id="content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn-primary"> 등록하기 </button>
</form>
</body>
</html>